<!-- to render out the first opening page of the site -->
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li>
          <a href="/"> Home</a>
        </li>
        <li>
          <a href="/database">Database</a>
        </li>
        <li>
          <a href="/add">New Student</a>
        </li>
      </ul>
    </div>
  </nav>
  