body{
    background-color: blanchedalmond;
}

/* the id for the main title */
#mainTitle{
    color: black;
    font-family: Trebuchet MS;
    font-weight: 700;
    font-size: 2em;
    margin: 2% 2%;
}

.container{
    display: grid;
    /*2 columns, different sizes for each*/
    grid-template-columns: 350px 350px;
    /* ensure minimum space of xpixels, automatically grow when too much text */
    grid-auto-rows: minmax(200px,auto);

    /* the gap between the col and row */
    grid-gap: 10px;

    /* design the template of the site */
    grid-template-areas: 
    "lb histo "
    'lb histo'
    'lb grade';

    /*align the grid for where it will start on the page*/
    justify-content: start;
    align-content: start;
    height: 100vh;

    /* add margin from the edge of the page */
    margin: 2% 2%;
    
}


/* grid for lower bound */
.lbs{
    background-color:darkgray;
    grid-area: lb;
    /* rounded edges*/
    border-radius: 5px;
    padding-bottom: 10%;

}
/* grid for histogram */
.hist{
    background-color: cornflowerblue;
    grid-area: histo;

    /* rounded edges*/
    border-radius: 5px;

}
/* grid for new grade */
.newG{
    background-color: darksalmon;
    grid-area: grade;

    /* rounded edges*/
    border-radius: 5px;
}

/* class for title text */
.title{
    color: #A6192E;
    font-size: 1.8em; 
    font-family: Times;
    font-weight: bold;

    margin: 4% 6%;
}

/* to format the grade box */
input {
    width: 50%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: solid black;
    border-width: thin;
    border-radius: 4px;
    box-sizing: border-box;
}





/* add the spacing for the table in LB */
#table1{
    border-collapse: separate;
    border-spacing: 50px 0;
    display: grid;
}

/* add the spacing for the Histogram */
#table2{
    display: grid;
    border-collapse: separate;
    border-spacing: 40px 0;
}

/* spacing for table 1 */
#table1 td{
    /* padding for the table */
    padding-bottom: 30px;
}

/* spacing for table 2 */
#table2 td{
    /* if too long, break up and move to next line */
    word-wrap: break-word;
    max-width: 150px;
    /* padding for the table */
    padding-bottom: 15px;
    border-spacing:100px;
} 

/* for the third table */
#table3{
    border-collapse: separate;
    border-spacing: 10px 20px;
    display: grid;
}


/*average text */
.text{
    color: black;
    font-size: 1.3em; 
    font-family: Times;
    font-weight:600;
}
