body{
    background-color: blanchedalmond;
}

/* the id for the main title */
#mainTitle{
    color: black;
    font-family: Trebuchet MS;
    font-weight: 700;
    font-size: 2em;
    margin: 2% 2%;
}

.container{
    display: grid;
    /*2 columns, different sizes for each*/
    grid-template-columns: 400px 350px;
    /* ensure minimum space of xpixels, automatically grow when too much text */
    grid-auto-rows: minmax(200px,auto);

    /* grid-row-gap: 10px;
    grid-column-gap: 10px; */
    /* the gap between the col and row */
    grid-gap: 10px;

    /* design the template of the site */
    grid-template-areas: 
    "lb histo "
    'lb histo'
    'lb grade';

    /*align the grid for where it will start on the page*/
    justify-content: start;
    align-content: start;
    height: 100vh;

    /* add margin from the edge of the page */
    margin: 2% 2%;
    
}

/* grid for lower bound */
.lbs{
    background-color:darkgray;
    grid-area: lb;
    /* rounded edges*/
    border-radius: 5px;
    padding-bottom: 10%;

}
/* grid for histogram */
.hist{
    background-color: cornflowerblue;
    grid-area: histo;

    /* rounded edges*/
    border-radius: 5px;

}
/* grid for new grade */
.newG{
    background-color: darksalmon;
    grid-area: grade;

    /* rounded edges*/
    border-radius: 5px;
}

/* class for title text */
.title{
    color: #A6192E;
    font-size: 1.8em; 
    font-family: Times;
    font-weight: bold;

    margin: 4% 6%;

    /* display: flex;
    /* postion from the start */
    /* align-items: flex-start;
    margin-bottom: 15px; */ 
}

/* for table */
table {
    border-collapse: separate;
    border-spacing: 50px 0;
}

/* td {
    padding: 3% 0;
} */



/*average text */
.text{
    color: black;
    font-size: 1.3em; 
    font-family: Times;
    font-weight:600;

    margin: 5% 10%;
    padding: 4% 0;
}

/* for text in histogram for spacing */
.textH{
    color: black;
    font-size: 1.3em; 
    font-family: Times;
    font-weight: 600;

    margin: 5% 30%;
    padding: 2% 0;
}

/* only for use with the new grade section */
/* .TextG{
    color: black;
    font-size: 1.3em; 
    font-family: Times;
    font-weight:600;

    margin: 2% 5%;
    padding: 4% 0;
} */