<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <!--the '<% %>' in an ejs file means that you are referring to javascript/using javascript-->
    <!-- for everything inside of it -->
    <% results.forEach(function(r) { %>
        <!-- results is referring to the results given from index.js -->
        <!-- for everything in results, print out r -->
        <!-- print all r's in terms of list items (li) -->
        <li> <%= r %> </li>
    <% }); %>
</ul>

</div>

</body>
</html>
