<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <!--uses studentNAV.ejs for formatting header-->
    <%- include ("../partials/studentNAV.ejs") %>
    <div class="container">
        <!-- title to add student -->
        <h1 class="title">Add New Student</h1>

        <!-- input to add new student -->
        <form action="/addStudent" method="post">
            <input type="text" name="name" minlength="1" maxlength="15" placeholder="name (15 char)"  required="true"> <br>
            <input type="number" name="weight" min="1" max="400" style= "width: 150px" placeholder="weight (#)"  required="true"> <br>
            <input type="number" name="height" min="1" max="400" style= "width: 150px" placeholder="height (#)"  required="true"> <br>
            <input type="text" name="colour" minlength="1" maxlength="20" placeholder="colour (text)"  required="true"> <br>
            <!-- decimal number to two decimal places -->
            <input type="number" step="0.00" name="gpa" min="0.01" max="4.33" style= "width: 130px" placeholder="GPA (#)"  required="true"><br>
            <input type="submit">
        </form>

        <!-- return link that goes back to the database without changing anything -->
        <button><a href="/database">Return</a></button>

    </div>
</body>
</html>